{#
/**
 * @file
 * Onepage Template's About2 Section.
 *
#}


<!-- ABOUT BLOCK 2 STARTS
   ========================================================================= -->
<section id="about-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading animated" data-animation="fadeInRight" data-animation-delay="0">
                <h2>WHAT WE OFFER</h2>
                <h1>DEDICATED CUSTOMER SUPPORT</h1>
                <p class="line">&nbsp;</p>
            </div>
        </div>
        <div class="row">
            <!-- Carousel Starts -->
            <div class="col-md-6">
                <div id="about-carousel" class="owl-carousel owl-theme animated" data-animation="fadeIn" data-animation-delay="100">
                    <div class="item"><img src="{{ directory }}/images/about/1.jpg"  class="img-responsive" alt=""></div>
                    <div class="item"><img src="{{ directory }}/images/about/2.jpg"  class="img-responsive" alt=""></div>
                    <div class="item"><img src="{{ directory }}/images/about/3.jpg"  class="img-responsive" alt=""></div>
                </div>
            </div>
            <!-- /.Carousel -->
            <!-- Accordion Starts -->
            <div class="col-md-6">
                <div class="panel-group" id="accordion">
                    <div class="panel animated" data-animation="fadeInUp" data-animation-delay="200">
                        <div class="heading2"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-mobile"></i> 100% RESPONSIVE LAYOUT</a></div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. </div>
                        </div>
                    </div>
                    <div class="panel animated" data-animation="fadeInUp" data-animation-delay="400">
                        <div class="heading2"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-code"></i> CLEAN MODREN CODE</a></div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body"> 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table. </div>
                        </div>
                    </div>
                    <div class="panel animated" data-animation="fadeInUp" data-animation-delay="600">
                        <div class="heading2"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-cog"></i> FREE SUPPORT & UPDATES</a></div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Accordion -->
        </div>
        <div class="row">
            <!-- Progress Bars Starts -->
            <div class="col-md-12 skills-progress">
                <div class="col-xs-6 col-sm-4 col-md-2 animated" data-animation="bounceInUp" data-animation-delay="0">
                    <div id="donutchart1" data-percent="90"> </div>
                    HTML5
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 animated" data-animation="bounceInUp" data-animation-delay="100">
                    <div id="donutchart2" data-percent="80"></div>
                    jQuery
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 animated" data-animation="bounceInUp" data-animation-delay="200">
                    <div id="donutchart3" data-percent="70"></div>
                    Wordpress
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 animated" data-animation="bounceInUp" data-animation-delay="300">
                    <div id="donutchart4" data-percent="60"></div>
                    Print
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 animated" data-animation="bounceInUp" data-animation-delay="400">
                    <div id="donutchart5" data-percent="50"></div>
                    Illustration
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 animated" data-animation="bounceInUp" data-animation-delay="500">
                    <div id="donutchart6" data-percent="40"></div>
                    Packaging
                </div>
            </div>
        </div>
        <!-- /.Progress Bars -->
    </div>
</section>
<!-- /.ABOUT BLOCK 2 -->