{#
/**
 * @file
 * Onepage Template's About Us Section.
 *
#}

<!-- ABOUT US STARTS
   ========================================================================= -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading animated" data-animation="fadeInRight" data-animation-delay="0">
                <h2>CLEAN / <span class="colored-text">BEAUTIFUL</span> / MODERN THEME</h2>
                <h1>FULLY RESPONSIVE AND RETINE READY</h1>
                <p class="line">&nbsp;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animated" data-animation="fadeIn" data-animation-delay="200">
                <div class="circle icon"><i class="fa fa-thumbs-o-up"></i></div>
                <div class="heading">WHO WE ARE</div>
                <div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</div>
            </div>
            <div class="col-md-4 animated" data-animation="fadeIn" data-animation-delay="400">
                <div class="circle icon"><i class="fa fa-cog"></i></div>
                <div class="heading">WHAT WE DO</div>
                <div class="description">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</div>
            </div>
            <div class="col-md-4 animated" data-animation="fadeIn" data-animation-delay="600">
                <div class="circle icon"><i class="fa fa-eye"></i></div>
                <div class="heading">WHY CHOOSE US</div>
                <div class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.  Vestibulum tortor quam, feugiat vitae.</div>
            </div>
        </div>
        <div> </div>
    </div>
</section>
<!-- /.ABOUT -->