{#
/**
 * @file
 * Onepage Template's Facts Section.
 *
#}

<!-- FACTS STARTS
      ========================================================================= -->
<section id="facts" data-speed="20" data-type="background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 section-heading animated" style="text-align:center" data-animation="fadeInUp" data-animation-delay="0">
                <h2>just for fun</h2>
                <h1>facts and numbers</h1>
                <p class="line">&nbsp;</p>
            </div>
        </div>
        <div id="our-facts" class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 items animated" data-animation="bounceInUp" data-animation-delay="100">
                <div class="circle">999</div>
                <div class="icon"><i class="fa fa-coffee"></i></div>
                <div class="heading-1">cups of</div>
                <div class="heading-2">coffee</div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 items animated" data-animation="bounceInUp" data-animation-delay="300">
                <div class="circle">10</div>
                <div class="icon"><i class="fa fa-briefcase"></i></div>
                <div class="heading-1">years in</div>
                <div class="heading-2">business</div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 items animated" data-animation="bounceInUp" data-animation-delay="500">
                <div class="circle">777</div>
                <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                <div class="heading-1">projects</div>
                <div class="heading-2">delivered</div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 items animated" data-animation="bounceInUp" data-animation-delay="700">
                <div class="circle">999</div>
                <div class="icon"><i class="fa fa-heart"></i></div>
                <div class="heading-1">best</div>
                <div class="heading-2">sellers</div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 items animated" data-animation="bounceInUp" data-animation-delay="900">
                <div class="circle">69</div>
                <div class="icon"><i class="fa fa-globe"></i></div>
                <div class="heading-1">winning</div>
                <div class="heading-2">awwards</div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 items animated" data-animation="bounceInUp" data-animation-delay="1100">
                <div class="circle">200</div>
                <div class="icon"><i class="fa fa-users"></i></div>
                <div class="heading-1">satisfied</div>
                <div class="heading-2">clients</div>
            </div>
        </div>
    </div>
</section>
<!-- /.FACTS -->