{#
/**
 * @file
 * Onepage Template's Services Section.
 *
#}


<!-- SERVICES STARTS
   ========================================================================= -->
<section id="quotes" data-speed="10" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 section-heading animated" style="text-align:center" data-animation="fadeInUp" data-animation-delay="0">
                <h2>QUOTES</h2>
                <h1>INSPIRATIONAL QUOTES</h1>
                <p class="line">&nbsp;</p>
                <div class="quotes-p">
                    <div class="items">
                        <div class="text">"Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. "</div>
                        <div class="name">Jane Doe</div>
                    </div>
                    <div class="items">
                        <div class="text">"Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper."</div>
                        <div class="name">John Doe</div>
                    </div>
                    <div class="items">
                        <div class="text">"Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper."</div>
                        <div class="name">John Smith</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.ABOUT BLOCK 2 -->
<!-- SERVICES STARTS
   ========================================================================= -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading animated" style="text-align:center" data-animation="fadeInUp" data-animation-delay="0">
                <h2>OUR SERVICES</h2>
                <h1>WHAT WE DO</h1>
                <p class="line">&nbsp;</p>
            </div>
        </div>
        <div class="owl-carousel" id="our-services">
            <div class="item animated" data-animation="flipInY" data-animation-delay="200">
                <div class="circle icon"><i class="fa fa-desktop"></i></div>
                <div class="heading-1">Lorem ipsum</div>
                <div class="heading-2">WEB DESIGN</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</div>
            </div>
            <div class="item animated" data-animation="flipInY" data-animation-delay="400">
                <div class="circle icon"><i class="fa fa-columns"></i></div>
                <div class="heading-1">dolor sit</div>
                <div class="heading-2">PRINT DESIGN</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</div>
            </div>
            <div class="item animated" data-animation="flipInY" data-animation-delay="600">
                <div class="circle icon"><i class="fa fa-dropbox"></i></div>
                <div class="heading-1">consect</div>
                <div class="heading-2">PACKAGING</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</div>
            </div>
            <div class="item animated" data-animation="flipInY" data-animation-delay="800">
                <div class="circle icon"><i class="fa fa-twitter"></i></div>
                <div class="heading-1">tristique</div>
                <div class="heading-2">SOCIAL MEDIA</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</div>
            </div>
            <div class="item animated" data-animation="flipInY" data-animation-delay="1000">
                <div class="circle icon"><i class="fa fa-pagelines"></i></div>
                <div class="heading-1">Mauris</div>
                <div class="heading-2">ILLUSTRATION</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</div>
            </div>
            <div class="item animated" data-animation="flipInY" data-animation-delay="1200">
                <div class="circle icon"><i class="fa fa-camera"></i></div>
                <div class="heading-1">Mauris placerat</div>
                <div class="heading-2">MULTIMEDIA</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</div>
            </div>
        </div>
        <div> </div>
    </div>
</section>
<!-- /.SERVICES -->