{#
/**
 * @file
 * Onepage Template's Social Media Section.
 *
#}

<!-- SOCIAL MEDIA STARTS
   ========================================================================= -->
<section id="social-media" data-speed="20" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading animated" style="text-align:center" data-animation="fadeInUp" data-animation-delay="0">
                <h2>SOCIAL MEDIA</h2>
                <h1>GET IN TOUCH WITH UPDATES</h1>
                <p class="line">&nbsp;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 animated" data-animation="fadeInUp" data-animation-delay="200">
                <div class="desc">Tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li class="animated" data-animation="fadeInUp" data-animation-delay="400"><i class="fa fa-facebook"></i></li>
                    <li class="animated" data-animation="fadeInUp" data-animation-delay="500"><i class="fa fa-twitter"></i></li>
                    <li class="animated" data-animation="fadeInUp" data-animation-delay="600"><i class="fa fa-pinterest"></i></li>
                    <li class="animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-linkedin"></i></li>
                    <li class="animated" data-animation="fadeInUp" data-animation-delay="800"><i class="fa fa-google-plus"></i></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /.SOCIAL MEDIA -->